* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #31255a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  background-color: #8fe0ff;
  height: 85vh;
  width: 29rem;
  border-radius: 2rem;
}


.searchContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.searchBox input {
  height: 3rem;
  width: 20rem;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
  border-radius: 0.7rem;
  border: none;
}
.inputIcon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inputIcon i {
  font-size: 1.4rem;
  color: #2b235a;
}


