* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #31255a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  background-color: #8fe0ff;
  height: 80vh;
  width: 29rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}


.searchContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.searchBox input {
  height: 3rem;
  width: 20rem;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
  border-radius: 0.7rem;
  border: none;
}
.inputIcon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inputIcon i {
  font-size: 1.4rem;
  color: #2b235a;
}

.weatherBgImg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/clouds.png);
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.temp {
  font-size: 5rem;
  font-weight: 500;
}
.city {
  font-size: 2rem;
  font-weight: 500;
}


.infoContainer {
  height: 150px;
  /* width: 100%; */
  background-color: #fff;
  margin: 0 2rem 0 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  height: 70px;
  width: 120px;
  /* background-color: blue; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 1.3rem;
}
.text p {
  font-size: 1rem;
}



.sunInfoContainer {
  height: 100px;
  background-color: #fff;
  margin: 0 2rem 0 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}



